<%= form_for(@dependent) do |f| %>
  <% if @dependent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dependent.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @dependent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :age %><br />
      <%= f.text_field :age %>
    </div>

    <div class="field">
      <%= f.label :food_schedule %><br />
      <%= f.text_area :food_schedule, :size => "70x7" %>
    </div>

    <div class="field">
      <%= f.label :sleep_schedule %><br />
      <%= f.text_area :sleep_schedule, :size => "70x7" %>
    </div>

    <div class="field">
      <%= f.label :medications %><br />
      <%= f.text_area :medications, :size => "70x7" %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>