<p id="notice"><%= notice %></p>

<div class="section">
  <%= image_tag("iconica-green/48x48/phone.png", :size => "48x48") %>
  <h2>
    Contacts
    <a href="#" onclick="openNewContact();return false;"><%= image_tag("iconica-green/16x16/add.png", :size => "16x16") %></a>
  </h2>
</div>

<% if @contacts.nil? or @contacts.count == 0  %>
    <p>None, yet.</p>
<% else %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.number %></td>
            <td><%= link_to image_tag("iconica-green/16x16/brush.png", :size => "16x16", :title => "Edit"), edit_contact_path(contact) %></td>
            <td><%= link_to image_tag("iconica-green/16x16/remove.png", :size => "16x16", :title => "Delete" ), contact, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<div style="display:none;" id="newcontact_div">
  <%= render 'contacts/form' %>
</div>

<div class="section">
  <%= image_tag("iconica-green/48x48/user.png", :size => "48x48" ) %>
  <h2>
    Children
    <a href="#" onclick="openNewDependent();return false;"><%= image_tag("iconica-green/16x16/add.png", :size => "16x16") %></a>
  </h2>
</div>

<div style="display:none;" id="newdependent_div">
  <%= render 'dependents/form' %>
</div>

<% if @children.nil? or @children.count == 0 %>
    <p>No children added.</p>
<% else %>
    <% @children.each do |child| %>
        <%= render :template => 'dependents/show', :locals => { :child => child } %>
    <% end %>
<% end %>

<div class="section">
  <%= image_tag("iconica-green/48x48/home.png", :size => "48x48" ) %>
  <h2>House Rules
    <a href="#" onclick="openHouseRules();return false;"><%= image_tag("iconica-green/16x16/brush.png", :size => "16x16") %></a>
  </h2>
</div>

<p><%= @user.house_rules %></p>

<div style="display:none;" id="houserules_div">
    <%= form_for @user, :html => { :id => 'edit-house-rules' } do |f| %>
        <%= f.label :house_rules, "House Rules" %><br />
        <%= f.text_area :house_rules, :rows => 8 %><br />
        <%= f.submit "Change House Rules" %>
    <% end %>
</div>

<div class="section">
  <%= image_tag("iconica-green/48x48/mail.png", :size => "48x48" ) %>
  <h2>Babysitter Rules
    <a href="#" onclick="openSitterRules();return false;"><%= image_tag("iconica-green/16x16/brush.png", :size => "16x16") %></a>
  </h2>
</div>

<p><%= @user.babysitter_rules %></p>

<div style="display:none;" id="sitterrules_div">
  <%= form_for @user, :html => { :id => 'edit-babysitter-rules' } do |f| %>
      <%= f.label :babysitter_rules, "Babysitter Rules" %><br />
      <%= f.text_area :babysitter_rules, :rows => 8 %><br />
      <%= f.submit "Change Babysitter Rules" %>
  <% end %>
</div>

<script type="text/javascript">
  var $house_rules = null;
  var $sitter_rules = null;
  var $new_contact = null;

    jQuery(document).ready(function($){
      $sitter_rules = $("#sitterrules_div")
        .dialog({autoOpen: false, width: 'auto'});
      $house_rules = $("#houserules_div")
        .dialog({autoOpen: false, width: 'auto'});
      $new_contact = $("#newcontact_div")
        .dialog({autoOpen: false, width: 'auto'});
      $new_dependent = $("#newdependent_div")
        .dialog({autoOpen: false, width: 'auto', modal: true, overlay: { opacity: 0.3, background: "white" }});
  });

  function openSitterRules() {
      $sitter_rules.dialog('open');
  }

  function openHouseRules() {
      $house_rules.dialog('open');
  }

  function openNewContact(){
      $new_contact.dialog('open');
  }

  function openNewDependent(){
      $new_dependent.dialog('open');
  }
</script>

<% if @user.email.to_s.strip.length == 0 %>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
          $(".messenger-panel").delay(1250).slideDown('slow');
      });
    </script>
<% end %>