<p id="notice"><%= notice %></p>

<%= image_tag("iconica-green/48x48/phone.png", :size => "48x48") %>

<% if @contacts.nil? or @contacts.count == 0  %>
    <p>None, yet.</p>
<% else %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.number %></td>
            <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
            <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<div style="display:none;" id="newcontact_div">
  <%= render 'contacts/form' %>
</div>

<p><a href="#" onclick="openNewContact();return false;"><%= image_tag("iconica-green/32x32/add.png", :size => "32x32") %></a></p>

<% if @children.nil? or @children.count == 0 %>
    <p>No children added.</p>
<% else %>
    <% @children.each do |child| %>
        <p>A child!</p>
    <% end %>
<% end %>

<h2>
  House Rules
  <a href="#" onclick="openHouseRules();return false;"><%= image_tag("iconica-green/16x16/brush.png", :size => "16x16") %></a>
</h2>

<p><%= @user.house_rules %></p>

<div style="display:none;" id="houserules_div">
    <% form_for @user, :html => { :id => 'edit-house-rules' } do |f| %>
        <%= f.label :house_rules, "House Rules" %><br />
        <%= f.text_area :house_rules, :rows => 8 %><br />
        <%= f.submit "Change House Rules" %>
    <% end %>
</div>

<h2>
  Babysitter Rules
  <a href="#" onclick="openSitterRules();return false;"><%= image_tag("iconica-green/16x16/brush.png", :size => "16x16") %></a>
</h2>

<p><%= @user.babysitter_rules %></p>

<div style="display:none;" id="sitterrules_div">
  <% form_for @user, :html => { :id => 'edit-babysitter-rules' } do |f| %>
      <%= f.label :babysitter_rules, "Babysitter Rules" %><br />
      <%= f.text_area :babysitter_rules, :rows => 8 %><br />
      <%= f.submit "Change Babysitter Rules" %>
  <% end %>
</div>

<!--
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
-->

<script type="text/javascript">
  var $house_rules = null;
  var $sitter_rules = null;
  var $new_contact = null;

    jQuery(document).ready(function($){
      $sitter_rules = $("#sitterrules_div")
        .dialog({autoOpen: false});
      $house_rules = $("#houserules_div")
        .dialog({autoOpen: false});
      $new_contact = $("#newcontact_div")
        .dialog({autoOpen: false});
  });

  function openSitterRules() {
      $sitter_rules.dialog('open');
  }

  function openHouseRules() {
      $house_rules.dialog('open');
  }

  function openNewContact(){
      $new_contact.dialog('open');
  }
</script>