<!DOCTYPE html>
<html>
<head>
  <title>BabysitterBuddy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="content">
  <h1>Babysitter Buddy</h1>
  <br />
    <div id="middle">
        <%= yield %>
    </div>
  <br />
</div>

</body>
</html>
